*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body ul {
    list-style: none; }
    body ul li a {
      text-decoration: none;
      color: black; }
      body ul li a:hover {
        color: black !important; }
        
.logo{
    width: 65px;
    height: 52px;
    margin: 24px;
    padding: 1px;
}
.slide img{
 height: 500px;
}
.barra ul{
    height: 69px;
    border-top: 3px solid #eaeaea;
    border-bottom: 3px solid #eaeaea;
}
.barra li{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
}
.card{
    background-color: whitesmoke !important;
    width: 1192px;
    height: 680px;
    margin: 0 auto;
}
.sub_card{
    height: 680px;
}
.sub_card div{
    list-style-type: none;
    height: 236px;
    width: 259px;
    margin: 14px;
}
.sub_card div:hover{
    background-color: gray;
    transform: scale(1.1,1.1);
}
.card img{
    height: 202px;
    width: 201px;
    margin: 16px;
}
.sub_card p{
    height: 20px;
    width: 201px;
    text-align: center;
    margin-left: 15px;
} 
.footer{
    display: grid;
    grid-template-rows: 50px 45px 50px;
    grid-template-areas: 
    "contacto"
    "follow"
    "copyright"
    ;
    background-color: #e5e5e5;
}
.foo_contacto{
    grid-area: contacto;
    color: black;
}
.foo_contacto p:hover{
    color: #a8a8a8;
}
.foo_contacto div{
    font-size: 25px;
    margin: 10px 10px;
}
.foo_contacto p{
    margin: 10px;
}
.foo_follow{
    grid-area: follow;
}
.foo_follow img{
    height: 16px;
    width: 16px;
    margin-left: 23px;
}
.foo_copyright{
    grid-area: copyright;
    color: black;
}


/* html del genero */

.barra_genero{
    background: white;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.barra_genero ul{
    height: 69px;
    border-top: 3px solid #eaeaea;
    border-bottom: 3px solid #eaeaea;
    align-items: center;
}
.barra_genero li{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-size: 25px;

}
.list_title{
    grid-area: list_title;
    padding: 16px;
    background-color: whitesmoke;
    width: 1213px;
    margin: 0 auto;
}

.sub_title div{ 
    height: 269px;
    width: 222px;
    margin: 9px;
    margin-top: 13px;
}
.sub_title div:hover{
    background-color: gray;
    transform: scale(1.1,1.1);
}
.sub_title img{
    height: 207px;
    width: 187px;
    margin-left: 6px;
    margin-top: 9px;
}
.info{
    display: flex;
    height: 49px;
    width: 193px;
    text-align: center;
    justify-content: center;;
    align-items: center;
}
.sub_barra{
    margin: 9px;
    padding: 10px;
    font-size: 21px;
    margin-bottom: 0px;
    padding-top: 25px;
}
@media only screen and (max-width: 1200px){
    .card{
        height: 1034px;
    }
    .sub_card{
        height: 1034px;
    }
}
@media only screen and (max-width: 1053px){
    .card{
        height: 1250px;
    }
    .sub_card{
        height: 1180px;
    }
    .sub_card div:hover{
        background-color: gray;
        transform: scale(1.1,1.1);
        margin-bottom: 70px;
        margin-top: 70px;
    }

    /* html genero */
    @media only screen and (max-width:574px){
        .barra li{
            font-size: 17px;
        }
        .card{
            height: 2249px;
        }
        .sub_card {
            height: 2203px;
        }
        .foo_contacto{
            margin: 4px;
           
        }
        .foo_contacto p{
            font-size: 13px;
        }
    }
@media only screen and (max-width:400px){
    .barra li{
        width: 330px;
        font-size: 15px;
    }
    .foo_contacto div{
        margin: 10px 5px;
    }
    .foo_contacto p{
        font-size: 9px;
    }

    /* html para el genero */
    .barra_genero li{
        font-size: 12px;
        margin:8px;
        padding: 0px;
        text-align: center;
    }
}



















